<!--Form which let's you add budget-->
{% extends "budgetapp/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <label for="categoryInput">Expense Categories (hit enter after every category)</label>
    <input type="text" name="categoryInput" id="categoryInput">
    <input type="hidden" name="categoriesString">
    <ul id="categoriesContainer">
       
    </ul>
    <button type="submit" class="btn">Start Budget </button>
</form>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}